body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--msg-line-bg);
    padding: 2rem;
    min-width: 400px;

    & h1 {
        text-align: center;
    }
}

.to-home {
    width: 100%;
    text-align: start;
}

hr {
    border: none;
    border-bottom: 1px solid var(--border-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

label {
    color: var(--secondary-font-color);
}

input, textarea {
    padding: .4rem;
}

textarea {
    min-height: 5rem;
}

.error {
    color: red;
    font-weight: bold;
}

.error-container {
    max-width: 350px;
    margin-bottom: -1.4rem;
}