<div class="msg-line">
    <div class="msg-time">
        <span><%= time %></span>
    </div>
    <div class="msg-line-body">
        <div class="msg-line-txt">
            <h2 class="user">
                <%= user %>
            </h2>
            <p class="msg-text">
                <%= text %>
            </p>
        </div>
        <div class="msg-btns">
            <button class="btn">DLT</button>
            <button class="btn">EDT</button>
        </div>
    </div>
</div>