<div class="msg-line">
    <span class="msg-time">
        <%= time %>
    </span>
    <div class="msg-line-body">
        <div class="msg-line-txt">
            <h2 class="user">
                <%= user %>
            </h2>
            <p class="msg-text">
                <%= text %>
            </p>
        </div>
        <div class="msg-btns">
            <button>DLT</button>
            <button>EDT</button>
        </div>
    </div>
</div>