<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Form</title>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/common.css">
</head>
<body>
    <main>
        <a class="to-home" href="/">< Home</a>
        <h1 class="form-header">Add Messages</h1>

        <hr>

        <form action="/new" method="post">
            <div class="input-container">
                <label for="user">Name:</label>
                <input type="text" placeholder="Enter your name" name="user">
            </div>
            <div class="input-container">
                <label for="text">Message:</label>
                <textarea name="text" id="text" placeholder="Write your message..."></textarea>
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </main>
</body>
</html>