:root {
    --border-color: hsla(0, 0%, 14%, .2);
    --header-text-color: rgb(109, 19, 19);
    --msg-line-bg: hsl(0, 0%, 98%);
    --primary-font-color: black;
    --secondary-font-color: hsl(0, 0%, 15%);
    --primary-btn-bg: hsl(120, 100%, 29%);
    --primary-btn-hover-bg: hsl(120, 100%, 27%);
    --shadow-color: hsla(0, 0%, 0%, .2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: var(--header-text-color);
}

.btn {
    color: var(--primary-font-color);
    text-decoration: none;
    background-color: var(--primary-btn-bg);
    width: fit-content;
    padding: .8rem 1.2rem;
    /* border-radius: .4rem; */
    box-shadow: 6px 6px 2px var(--shadow-color);
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-btn-hover-bg);
    }
}